.container {
    width: 450px;
    background-color: #2b3e50;
    color: #ebebeb;
}

.card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-bottom: 0;
    background-color: #424e5a;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    text-align: center!important;
    /*font-size: 1rem;*/
    font-weight: 400;
    line-height: 1.5;
    color: #ebebeb;    
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: block;
}

.card-body {
    overflow-x: hidden;
    flex: 1 1 auto;
    padding: 1.25rem;
    box-sizing: border-box;
    display: block;
}

.padding-md {
    padding: 5px !important;
}

a.icon-link, a.icon-link:hover, a:link, a:focus, a:hover {
    text-decoration: none;
    color: white;
}

.ver_inf {
    font-size: x-small;
}